/*------------------------------------*\
  $GENERAL
\*------------------------------------*/

[hidden],
.hidden {
  display: none;
}


/*------------------------------------*\
  $VALIDATORS
\*------------------------------------*/

input.valid:focus{
  background-color: #BBFFBB;
}
input.invalid{
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(235, 34, 34, 0.56);
  border-color: rgba(233, 119, 119, 0.8);
  background-color: #FFBBBB;
}

input.required,
input.required:focus {
  border-color: rgba(233, 119, 119, 0.8);
  box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(235, 34, 34, 0.56);
}


/*------------------------------------*\
  $EBUTTON
\*------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance : button;
  -moz-appearance : button;
  appearance : button;
}
.ebutton {
  position: relative;
  outline: 0;
  margin:0;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  white-space: nowrap;
  font-size: 15px;
  line-height: 1.42;
  font-weight: 400;
  color: #555;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border: 1px solid #ccc;
  background-image: none;
  background-color: #f7f7f7;
  border-radius : 3px;
  -webkit-user-select : none;
  -moz-user-select : none;
  -ms-user-select : none;
  -o-user-select : none;
  user-select : none;
  -webkit-transition : border .25s linear,color .25s linear, box-shadow .12s linear;
  -moz-transition : border .25s linear,color .25s linear, box-shadow .12s linear;
  -ms-transition : border .25s linear,color .25s linear, box-shadow .12s linear;
  -o-transition : border .25s linear,color .25s linear, box-shadow .12s linear;
  transition: border .25s linear,color .25s linear, box-shadow .12s linear;
  box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
}
.ebutton.disabled,
.ebutton[disabled] {
  background-color: #E6E6E6 ;
  border: 1px solid #bbb;
  color: #BCBCBC ;
}
.ebutton:active,
.ebutton.active  {
  box-shadow : inset 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button.ebutton.disabled:active,
button.ebutton.disabled.active,
button.ebutton[disabled]:active,
button.ebutton[disabled].active  {
  box-shadow : none;
}
.ebutton:hover,
.ebutton.active {
  color: #333;
  background-color: #fff;
  border-color: #adadad;
  text-decoration: none;
}
.ebutton.disabled,
.ebutton[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow : none;
}


/*------------------------------------*\
  $EBUTTON-COLOR
\*------------------------------------*/

.ebutton.black,
.ebutton.black.disabled,
.ebutton.black[disabled]{
  color: white;
  background-color: #444;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 #160F16;
  box-shadow: none;
}
.ebutton.black:hover{
   color: white;
   background-color: #303030;
   border-color: #222;
}

.ebutton.red,
.ebutton.red.disabled,
.ebutton.red[disabled]{
  color: white;
  background-color: #d9534f;
  border: 1px solid  #d43f3a;
  text-shadow: 0 -1px 0 #A01813;
  box-shadow: none;
}
.ebutton.red:hover{
  background-color: #d2322d;
  border-color: #ac2925;
}

.ebutton.green,
.ebutton.green.disabled,
.ebutton.green[disabled]{
  color: white;
  background-color: #5cb85c;
  border: 1px solid  #4cae4c;
  text-shadow: 0 -1px 0 #258A25;
  box-shadow: none;
}
.ebutton.green:hover{
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}

.ebutton.blue,
.ebutton.blue.disabled,
.ebutton.blue[disabeld] {
  color: white;
  background-color: #428bca;
  border:1px solid #357ebd;
  text-shadow: 0 -1px 0 #0F4779;
  box-shadow: none;
}
.ebutton.blue:hover{
  background-color: #3276b1;
  border-color: #285e8e;
}

.ebutton.orange,
.ebutton.orange.disabled,
.ebutton.orange[disabled]{
  color: white;
  background-color: #f0ad4e;
  border:1px solid #eea236;
  text-shadow: 0 -1px 0 #E98900;
  box-shadow: none;
}
.ebutton.orange:hover{
  color: white;
  background-color: #ed9c28;
  border-color: #d58512;
}

.ebutton.sky-blue,
.ebutton.sky-blue.disabled,
.ebutton.sky-blue[disabled]{
   color: white;
   background-color: #5bc0de;
   border: 1px solid  #46b8da;
   text-shadow: 0 -1px 0 #197D9B;
   box-shadow: none;
}
.sky-blue:hover{
  color: white;
  background-color: #39b3d7;
  border-color: #269abc;
}

.ebutton.dark-blue,
.ebutton.dark-blue.disabled,
.ebutton.dark-blue[disabled]{
  color: white;
  background-color: #00438D;
  border: 1px solid #022142;
  text-shadow: 0 -1px 0 #001F41;
  box-shadow: none;
}
.ebutton.dark-blue:hover{
  color: white;
  background-color: #002F63;
  border-color: #002146;
}


/*------------------------------------*\
  $EBUTTON-SIZES
\*------------------------------------*/

.ebutton.large {
  padding: 11px 16px;
  font-size: 17px;
  line-height: normal;
  border-radius: 5px;
}
.ebutton.small {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 19px;
}
.ebutton.mini {
  padding: 2px 7px;
  font-size: 12px;
  line-height: 16px;
}


/*------------------------------------*\
  $EBUTTON-GROUPS
\*------------------------------------*/

.ebutton-group {
  display: inline-block;
  overflow: auto;
  float: none;
}
.ebutton.right {
  float: left;
  margin-left: 0;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
.ebutton.left {
  float: left;
  margin-right: 0;
  border-radius: 4px 0 0 4px;
}
.ebutton.center {
  float: left;
  margin-left: 0;
  margin-right:0;
  border-radius: 0 0 0 0;
  border-left: none;
}


/*------------------------------------*\
  $EBUTTON-CIRCLES
\*------------------------------------*/

.ebutton.circle{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  white-space: normal;
}
.ebutton.large.circle {
  width: 120px;
  height: 120px;
}
.ebutton.small.circle {
  width: 70px;
  height: 70px;
}
.ebutton.mini.circle {
  width: 50px;
  height: 50px;
}
