/*------------------------------------*\
    $ELOADER
\*------------------------------------*/

.eloader {
    overflow: hidden;
    text-align: center;
}
.eloader > .state {
    overflow: hidden;
    display: inline-block;
    margin: 6px auto;
    max-height: 2em;
}

/* BAR DETERMINATED */
.eloader > .bar {
    width: 80%;
    height: 16px;
    padding: 2px;
    margin: 6px auto;
    border-radius: 20px;
    border: 1px solid #bbb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    overflow: hidden;
}
.eloader > .bar > .progress {
    width: 0;
    height: 100%;
    border-radius: 20px;
    background-color: #47C7C2;
    line-height: 1.6em;
    text-align: center;
    font-size: 0.8em;
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

/* BAR UNDETERMINATED */
.eloader > .bar.undeterminate {
    position: relative;
}
.eloader .bar-ball {
    position: absolute;
    left: 2px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    border-radius: 50%;
    background-color: #47C7C2;
}
.eloader .bar-ball1 {
    -webkit-animation: 1.5s ease-out 0s infinite eloader-bar-ball1;
    -moz-animation: 1.5s ease-out 0s infinite eloader-bar-ball1;
    animation: 1.5s ease-out 0s infinite eloader-bar-ball1;
}
.eloader .bar-ball2 {
    -webkit-animation: 1.5s ease-out 0.2s infinite eloader-bar-ball2;
    -moz-animation: 1.5s ease-out 0.2s infinite eloader-bar-ball2;
    animation: 1.5s ease-out 0.2s infinite eloader-bar-ball2;
}
.eloader .bar-ball3 {
    -webkit-animation: 1.5s ease-out 0.4s infinite eloader-bar-ball3;
    -moz-animation: 1.5s ease-out 0.4s infinite eloader-bar-ball3;
    animation: 1.5s ease-out 0.4s infinite eloader-bar-ball3;
}
.eloader .bar-ball4 {
    -webkit-animation: 1.5s ease-out 0.6s infinite eloader-bar-ball4;
    -moz-animation: 1.5s ease-out 0.6s infinite eloader-bar-ball4;
    animation: 1.5s ease-out 0.6s infinite eloader-bar-ball4;
}

@-webkit-keyframes eloader-bar-ball1 {
    0% {left: 2px;}
    100% {left: 100%; margin-left: -18px;}
}
@-moz-keyframes eloader-bar-ball1 {
    0% {left: 0;}
    100% {left: 100%;}
}
@keyframes eloader-bar-ball1 {
    0% {left: 0;}
    100% {left: 100%;}
}

@-webkit-keyframes eloader-bar-ball2 {
    0% {left: 13px;}
    100% {left: 100%; margin-left: -13px;}
}
@-moz-keyframes eloader-bar-ball2 {
    0% {left: 13px;}
    100% {left: 100%; margin-left: -13px;}
}
@keyframes eloader-bar-ball2 {
    0% {left: 13px;}
    100% {left: 100%; margin-left: -13px;}
}

@-webkit-keyframes eloader-bar-ball3 {
    0% {left: 26px;}
    100% {left: 100%; margin-left: -16px;}
}
@-moz-keyframes eloader-bar-ball3 {
    0% {left: 26px;}
    100% {left: 100%; margin-left: -16px;}
}
@keyframes eloader-bar-ball3 {
    0% {left: 26px;}
    100% {left: 100%; margin-left: -16px;}
}

@-webkit-keyframes eloader-bar-ball4 {
    0% {left: 39px;}
    100% {left: 100%;}
}
@-moz-keyframes eloader-bar-ball4 {
    0% {left: 39px;}
    100% {left: 100%;}
}
@keyframes eloader-bar-ball4 {
    0% {left: 39px;}
    100% {left: 100%;}
}

/* SPIN DETERMINATED */
.eloader .spin {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 6px auto;
}
.eloader .spin:not(.undeterminate):after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 50%;
    border: 30px solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(118, 199, 71, 0.4) rgba(0, 0, 0, 0);
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: radar 1s infinite linear;
    -moz-animation: radar 1s infinite linear;
    animation: radar 1s infinite linear;
}

/* Animaciones */
@-webkit-keyframes radar {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes radar {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes radar {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.eloader .spin svg circle {
    fill: #fff;
    stroke: #ddd;
    stroke-width: 1px;
}
.eloader .spin svg .progress {
    fill: transparent;
    stroke-width: 10px;
    stroke: #47C7C2;
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
}
.eloader .spin .progress-count {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -9px;
    font-size: 14px;
    color: #666;
}

/* SPIN UNDETERMINATED */
.eloader .spin.undeterminate {}

.eloader .spin.undeterminate .spin-ball1,
.eloader .spin.undeterminate .spin-ball2 {
    margin: 0 auto;
    border-radius: 50px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.eloader .spin.undeterminate .spin-ball1 {
    width: 50px;
    height: 50px;
    border: 5px solid #33bdc0;
    border-top: 5px solid rgba(51, 189, 192, 0.31);
    border-left: 5px solid rgba(51, 189, 192, 0.31);
    -webkit-animation: eloader-spin 1s infinite linear;
    -moz-animation: eloader-spin 1s infinite linear;
    animation: eloader-spin 1s infinite linear;
}
.eloader .spin.undeterminate .spin-ball2 {
    position: relative;
    top: -48px;
    width: 26px;
    height: 26px;
    border: 5px solid #9fcc3e;
    border-top: 5px solid rgba(159, 204, 62, 0.31);
    border-left: 5px solid rgba(159, 204, 62, 0.31);
    -webkit-animation: eloader-spinoff 1s infinite linear;
    -moz-animation: eloader-spinoff 1s infinite linear;
    animation: eloader-spinoff 1s infinite linear;
}

/* -- Loader Inverse -- */
.eloader .spin.undeterminate.inverse .spin-ball1 {
    -webkit-animation: eloader-spinoff 1s infinite linear;
    -moz-animation: eloader-spinoff 1s infinite linear;
    animation: eloader-spinoff 1s infinite linear;
}
.eloader .spin.undeterminate.inverse .spin-ball2 {
    -webkit-animation: eloader-spin 1s infinite linear;
    -moz-animation: eloader-spin 1s infinite linear;
    animation: eloader-spin 1s infinite linear;
}

/* -- Loader Mini -- */
.eloader .spin.spin-mini {
    padding: 5px;
    height: 52px;
}
.eloader .spin.spin-mini .spin-ball1 {
    width: 32px;
    height: 32px;
    border-width: 4px;
}
.eloader .spin.spin-mini .spin-ball2 {
    width: 14px;
    height: 14px;
    top: -31px;
    border-width: 4px;
}

/* -- Loader Spin -- */
@-webkit-keyframes eloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes eloader-spin {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes eloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* -- Loader SpinOff -- */
@-webkit-keyframes eloader-spinoff {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-moz-keyframes eloader-spinoff {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes eloader-spinoff {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
