/*!
 * Elise Library
 * Version 0.6.1
 * Updated 2015-06-03
 * Duvan Jamid @DuvanJamid
 * Romel Perez prhone.blogspot.com
 * Licence http://www.opensource.org/licenses/mit-license.php
 * Repository http://github.com/calumet/elise
 **/

/*------------------------------------*\
    $RESET
    \*------------------------------------*/

    html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,
    em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
    caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
    menu,nav,section,summary,time,mark,audio,video{
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size: 100%;
        vertical-align:baseline;
        background:transparent;
    }
    body{
        font-size: 1em;
        line-height: 1em;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
        display:block
    }
    nav ul{
        list-style:none;
    }
    blockquote,q{
        quotes:none;
    }
    blockquote:before,blockquote:after,q:before,q:after{
        content:none;
    }
    a{
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }
    ins{
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }
    mark{
        background-color:#ff9;
        color:#000;
        font-style:italic;
        font-weight:bold;
    }
    del{
        text-decoration:line-through;
    }
    abbr[title],dfn[title]{
        border-bottom:1px dotted;
        cursor:help;
    }
    table{
        border-collapse:collapse;
        border-spacing:0;
    }
    hr{
        display:block;
        height:1px;
        border:0;
        border-top:1px solid #ccc;
        margin:1em 0;
        padding:0;
    }
    input,select{
        vertical-align:middle;
    }
    * {
        -webkit-box-sizing : border-box;
        -moz-box-sizing : border-box;
        box-sizing : border-box;
    }
    root{
        display: block;
    }





/*------------------------------------*\
    $FONT-FACE
    \*------------------------------------*/

    html, body{
        font-family:"Open Sans",Helvetica,Arial,sans-serif;
    }





/*------------------------------------*\
    $BASIC-STYLES
    \*------------------------------------*/

    body{
        margin: 0;
        font-size: 1em; 
        color: #666666; 
        background-color: #FFF;
    }
    a{
        color:#0088cc;
        text-decoration:none;
    }
    a:focus{
        outline:thin dotted #333; 
        outline:5px auto -webkit-focus-ring-color; 
        outline-offset:-2px;
    }
    a:hover, a:active{
        outline:0;
    }
    a:hover{
        color:#005580; 
        text-decoration:underline;
        cursor: pointer;
    }
    h1, h2, h3, h4, h5, h6{
        margin:10px 0;
        font-family:inherit;
        font-weight:bold;
        line-height:1em; 
        color:inherit;
        text-rendering:optimizelegibility;
    }
    h1{font-size:32px;  line-height:40px;}
    h2{font-size:26px;  line-height:40px;}
    h3{font-size:22px;  line-height:40px;}
    h4{font-size:16px;  line-height:20px;}
    h5{font-size:14px;  line-height:20px;}
    h6{font-size:12px;  line-height:20px;}
    .clearfix{
        *zoom:1;
    }
    .clearfix:before,
    .clearfix:after{
        display:table; 
        line-height:0;
        content:"";
    }
    .clearfix:after{
        clear:both;
    }


/*------------------------------------*\
    $GRID
    \*------------------------------------*/

    .erow {
        width: 100%;
        *zoom: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .erow:before,
    .erow:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .erow:after {
        clear: both;
    }
    .erow [class*="ebox"] {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing : border-box;
        -moz-box-sizing : border-box;
        box-sizing : border-box;
        float: left;
        margin-left: 2.127659574468085%;
        *margin-left: 2.074468085106383%;
    }
    .erow [class*="ebox"]:first-child {
        margin-left: 0;
    }
    .erow .ebox12 {
        width: 100%;
        *width: 99.94680851063829%;
    }
    .erow .ebox11 {
        width: 91.48936170212765%;
        *width: 91.43617021276594%;
    }
    .erow .ebox10 {
        width: 82.97872340425532%;
        *width: 82.92553191489361%;
    }
    .erow .ebox9 {
        width: 74.46808510638297%;
        *width: 74.41489361702126%;
    }
    .erow .ebox8 {
        width: 65.95744680851064%;
        *width: 65.90425531914893%;
    }
    .erow .ebox7 {
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
    }
    .erow .ebox6 {
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }
    .erow .ebox5 {
        width: 40.42553191489362%;
        *width: 40.37234042553192%;
    }
    .erow .ebox4 {
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }
    .erow .ebox3 {
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
    }
    .erow .ebox2 {
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
    }
    .erow .ebox1 {
        width: 6.382978723404255%;
        *width: 6.329787234042553%;
    }
    .erow .offset12 {
        margin-left: 104.25531914893617%;
        *margin-left: 104.14893617021275%;
    }
    .erow .offset12:first-child {
        margin-left: 102.12765957446808%;
        *margin-left: 102.02127659574467%;
    }
    .erow .offset11 {
        margin-left: 95.74468085106382%;
        *margin-left: 95.6382978723404%;
    }
    .erow .offset11:first-child {
        margin-left: 93.61702127659574%;
        *margin-left: 93.51063829787232%;
    }
    .erow .offset10 {
        margin-left: 87.23404255319149%;
        *margin-left: 87.12765957446807%;
    }
    .erow .offset10:first-child {
        margin-left: 85.1063829787234%;
        *margin-left: 84.99999999999999%;
    }
    .erow .offset9 {
        margin-left: 78.72340425531914%;
        *margin-left: 78.61702127659572%;
    }
    .erow .offset9:first-child {
        margin-left: 76.59574468085106%;
        *margin-left: 76.48936170212764%;
    }
    .erow .offset8 {
        margin-left: 70.2127659574468%;
        *margin-left: 70.10638297872339%;
    }
    .erow .offset8:first-child {
        margin-left: 68.08510638297872%;
        *margin-left: 67.9787234042553%;
    }
    .erow .offset7 {
        margin-left: 61.70212765957446%;
        *margin-left: 61.59574468085106%;
    }
    .erow .offset7:first-child {
        margin-left: 59.574468085106375%;
        *margin-left: 59.46808510638297%;
    }
    .erow .offset6 {
        margin-left: 53.191489361702125%;
        *margin-left: 53.085106382978715%;
    }
    .erow .offset6:first-child {
        margin-left: 51.063829787234035%;
        *margin-left: 50.95744680851063%;
    }
    .erow .offset5 {
        margin-left: 44.68085106382979%;
        *margin-left: 44.57446808510638%;
    }
    .erow .offset5:first-child {
        margin-left: 42.5531914893617%;
        *margin-left: 42.4468085106383%;
    }
    .erow .offset4 {
        margin-left: 36.170212765957444%;
        *margin-left: 36.06382978723405%;
    }
    .erow .offset4:first-child {
        margin-left: 34.04255319148936%;
        *margin-left: 33.93617021276596%;
    }
    .erow .offset3 {
        margin-left: 27.659574468085104%;
        *margin-left: 27.5531914893617%;
    }
    .erow .offset3:first-child {
        margin-left: 25.53191489361702%;
        *margin-left: 25.425531914893618%;
    }
    .erow .offset2 {
        margin-left: 19.148936170212764%;
        *margin-left: 19.04255319148936%;
    }
    .erow .offset2:first-child {
        margin-left: 17.02127659574468%;
        *margin-left: 16.914893617021278%;
    }
    .erow .offset1 {
        margin-left: 10.638297872340425%;
        *margin-left: 10.53191489361702%;
    }
    .erow .offset1:first-child {
        margin-left: 8.51063829787234%;
        *margin-left: 8.404255319148938%;
    }
    [class*="ebox"].hide,
    .erow [class*="ebox"].hide {
        display: none;
    }
    [class*="ebox"].pull-right,
    .erow [class*="ebox"].pull-right {
        float: right;
    }

/*------------------------------------*\
    $EBUTTON
    \*------------------------------------*/

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
        -webkit-appearance : button;
        -moz-appearance : button;
        appearance : button;
    }
    .ebutton {
        position: relative;
        outline: 0;
        margin:0;
        vertical-align: middle;
        cursor: pointer;
        display: inline-block;
        padding: 6px 12px;
        white-space: nowrap;
        font-size: 15px;
        line-height: 1.42;
        font-weight: 400;
        color: #555;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        border: 1px solid #ccc;
        background-image: none;
        background-color: #f7f7f7;
        -webkit-border-radius : 3px;
        -moz-border-radius : 3px;
        border-radius : 3px;
        -webkit-user-select : none;
        -moz-user-select : none;
        -ms-user-select : none;
        -o-user-select : none;
        user-select : none;
        -webkit-transition : border .25s linear,color .25s linear, box-shadow .12s linear;
        -moz-transition : border .25s linear,color .25s linear, box-shadow .12s linear;
        -ms-transition : border .25s linear,color .25s linear, box-shadow .12s linear;
        -o-transition : border .25s linear,color .25s linear, box-shadow .12s linear;
        transition : border .25s linear,color .25s linear, box-shadow .12s linear;
        -webkit-box-shadow : inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
        -moz-box-shadow : inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
        box-shadow : inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    }
    .ebutton.disabled, .ebutton[disabled] {
        background-color: #E6E6E6 ;
        border: 1px solid #bbb;
        color: #BCBCBC ;
    }
    .ebutton:active,.ebutton.active  {
        -webkit-box-shadow : inset 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow : inset 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow : inset 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    button.ebutton.disabled:active,button.ebutton.disabled.active,
    button.ebutton[disabled]:active,button.ebutton[disabled].active  {
        -webkit-box-shadow : none;
        -moz-box-shadow : none;
        box-shadow : none;
    }
    .ebutton:hover,.ebutton.active {
        color: #333;
        background-color: #fff;
        border-color: #adadad;
        text-decoration: none;
    }
    .ebutton.disabled, .ebutton[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow : none;
        -moz-box-shadow : none;
        box-shadow : none;
    }


/*------------------------------------*\
    $EBUTTON-COLOR
    \*------------------------------------*/

    .blue,.blue.disabled,.blue[disabeld] {
        color: white  !important;
        background-color: #428bca;
        border:1px solid #357ebd;
        text-shadow: 0 -1px 0 #0F4779;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .blue:hover{
        background-color: #3276b1;
        border-color: #285e8e;
    }
    .red,.red.disabled,.red[disabled]{
        color: white  !important; 
        background-color: #d9534f;
        border: 1px solid  #d43f3a;
        text-shadow: 0 -1px 0 #A01813;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .red:hover{
        background-color: #d2322d;
        border-color: #ac2925;
    }
    .green,.green.disabled,.green[disabled]{
        color: white  !important;
        background-color: #5cb85c;
        border: 1px solid  #4cae4c;
        text-shadow: 0 -1px 0 #258A25;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .green:hover{
        color: #fff;
        background-color: #47a447;
        border-color: #398439;
    }
    .orange,.orange.disabled,.orange[disabled]{
        color: white  !important;
        background-color: #f0ad4e;
        border:1px solid #eea236;
        text-shadow: 0 -1px 0 #E98900;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .orange:hover{
        color: white;
        background-color: #ed9c28;
        border-color: #d58512;
    }
    .sky-blue,.sky-blue.disabled,.sky-blue[disabled]{
       color: white !important;
       background-color: #5bc0de;
       border: 1px solid  #46b8da;
       text-shadow: 0 -1px 0 #197D9B;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
   }
   .sky-blue:hover{
    color: white;
    background-color: #39b3d7;
    border-color: #269abc;
}
.black,.black.disabled,.black[disabled]{
    color: white !important;
    background-color: #444;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 0 #160F16;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.black:hover{
   color: white;
   background-color: #303030;
   border-color: #222;
}
.dark-blue,.dark-blue.disabled,.dark-blue[disabled]{
    color: white !important;
    background-color: #00438D;
    border: 1px solid #022142;
    text-shadow: 0 -1px 0 #001F41;
    none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dark-blue:hover{
    color:  white;
    background-color: #002F63;
    border-color: #002146;
}


/* ___________________/---------\_________________*/
/* ________________  EBUTTON SIZES  ______________*/
/* ___________________/---------\_________________*/


.ebutton-large {
    padding: 11px 16px;
    font-size: 17px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ebutton-small {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 19px;
}
.ebutton-mini {
    padding: 2px 7px;
    font-size: 12px;
    line-height: 16px;
}

/* _________________/------------\_________________ */
/* _________________CIRCLE EBUTTONS________________ */
/* ________________/---------------\_______________ */

.ebutton-circle{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.ebutton.ebutton-circle {
    width: 90px;
    height: 90px;
    white-space: normal;
}
.ebutton-large.ebutton-circle {
    width: 120px;
    height: 120px;
}
.ebutton-small.ebutton-circle {
    width: 70px;
    height: 70px;
}
.ebutton-mini.ebutton-circle {
    width: 50px;
    height: 50px;
}
/* _________________/------------\_________________ */
/* _________________EBUTTONS GROUPS________________ */
/* ________________/---------------\_______________ */
.right {
    -webkit-border-radius: 0 4px 4px 0 !important;
    -moz-border-radius: 0 4px 4px 0 !important;
    border-radius: 0 4px 4px 0 !important;
    margin-left: 0 !important;
    float: left;
    border-left: none !important;
}
.left {
    -webkit-border-radius: 4px 0 0 4px !important;
    -moz-border-radius: 4px 0 0 4px !important;
    border-radius: 4px 0 0 4px !important;
    margin-right: 0 !important;
    float: left;
}
.center {
    -webkit-border-radius: 0 0 0 0 !important;
    -moz-border-radius: 0 0 0 0 !important;
    border-radius: 0 0 0 0 !important;
    margin-left: 0 !important;
    margin-right:0 !important;
    float: left;
    border-left: none !important;
}
/* ___________________/---------\_________________ */
/* ___________________ FIELDSET  _________________ */
/* ___________________/---------\_________________ */


fieldset{
    border: 1px dashed #ddd;
    background-color: #f7f8f9;
    padding: 20px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
legend{
   border: 1px solid #DDD;
   padding: 3px 10px;
   font-size: 14px;
   color: #444;
   margin-left: 20px;
   background: #FFF;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   border-radius: 3px;
}
fieldset.light{
    background-color:  #fff !important; 
}
fieldset:hover>legend:first-child{
 -webkit-box-shadow: 0 0 5px #ddd;
 -moz-box-shadow: 0 0 5px #ddd;
 box-shadow: 0 0 5px #ddd;
 -webkit-animation: light 0.4s linear 0s ;
 -o-animation: light 0.4s linear 0s ;
 animation: light 0.4s linear 0s;
}
@-webkit-keyframes light {
    0% {
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    25%{
        -webkit-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    50%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    75% {
        -webkit-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    100%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
}
@-moz-keyframes light {
    % {
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    25%{
        -webkit-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    50%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    75% {
        -webkit-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    100%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
}
@-ms-keyframes light {
    % {
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    25%{
        -webkit-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    50%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    75% {
        -webkit-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    100%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
}
@-o-keyframes light {
    0% {
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    25%{
        -webkit-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    50%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    75% {
        -webkit-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    100%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
}
@keyframes light {
    0% {
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    25%{
        -webkit-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform :  scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    50%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
    75% {
        -webkit-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform : scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    100%{
        -webkit-transform : none;
        -moz-transform : none;
        -ms-transform : none;
        -o-transform : none;
        transform : none;
    }
}



/*------------------------------------*\
    $FORMS
    \*------------------------------------*/

    .inline-form{

    }
    .inline-form .form-group,
    .vertical-form .form-group{
        display:inline-block;
    }
    .vertical-form{

        }.vertical-form .form-group label{
            display: block;
        }




        /* ___________________/---------\_________________ */
        /* ___________________  INPUTS   _________________ */
        /* ___________________/---------\_________________ */


        input[type="text"]:focus,input[type="password"]:focus,
        textarea:focus,input[type="search"]:focus,
        input:focus, textarea:focus,select:focus {
            outline: 0;
            border-color: rgba(82, 168, 236, 0.8);
            -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
            -moz-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
        }
        input, textarea {
            -webkit-transition : border linear 0.2s, box-shadow linear 0.2s;
            -moz-transition : border linear 0.2s, box-shadow linear 0.2s;
            -ms-transition : border linear 0.2s, box-shadow linear 0.2s;
            -o-transition : border linear 0.2s, box-shadow linear 0.2s;
            transition : border linear 0.2s, box-shadow linear 0.2s;
            -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
            -moz-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
            margin: 5px;
        }
        input[type="text"].obligatorio:focus,
        input[type="text"].obligatorio,
        input[type="password"].obligatorio:focus,
        input[type="password"].obligatorio {
            border-color: rgba(233, 119, 119, 0.8);
            -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(235, 34, 34, 0.56);
            -moz-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(235, 34, 34, 0.56);
            box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(235, 34, 34, 0.56);

        }
        input[type="text"], input[type="password"] {
            line-height: 21px  !important;
            padding: 2px 5px 2px 5px  !important;
            font-size: 15px;
            color: #333;
            display: inline-block;
            margin : 5px;
            height : 29px;
            background : #fff;
            border : 1px solid #CCC;
            -webkit-border-radius : 3px;
            -moz-border-radius : 3px;
            border-radius : 3px;
            -webkit-box-sizing : border-box;
            -moz-box-sizing : border-box;
            box-sizing : border-box;
            -webkit-transition : border linear 0.2s, box-shadow linear 0.2s;
            -moz-transition : border linear 0.2s, box-shadow linear 0.2s;
            -ms-transition : border linear 0.2s, box-shadow linear 0.2s;
            -o-transition : border linear 0.2s, box-shadow linear 0.2s;
            transition : border linear 0.2s, box-shadow linear 0.2s;
            -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
            -moz-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        select,.select {
            line-height : 21px  !important;
            padding : 3px !important;
            font-size : 15px;
            color : #333;
            display : inline-block;
            margin : 5px;
            height : 29px;
            background : #fff;
            border : 1px solid #CCC;
            -webkit-border-radius : 3px;
            -moz-border-radius : 3px;
            border-radius : 3px;
            -webkit-box-sizing : border-box;
            -moz-box-sizing : border-box;
            box-sizing : border-box;
            -webkit-transition : border linear 0.2s, box-shadow linear 0.2s;
            -moz-transition : border linear 0.2s, box-shadow linear 0.2s;
            -ms-transition : border linear 0.2s, box-shadow linear 0.2s;
            -o-transition : border linear 0.2s, box-shadow linear 0.2s;
            transition : border linear 0.2s, box-shadow linear 0.2s;
            -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
            -moz-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        input[disabled], textarea[disabled]{
            background-color: #F4F4F4;
            color: #999999;
        }
        input[readonly], textarea[readonly]{
            background-color: #F4F4F4;
        }
        textarea {
            display: inline-block;
            padding: 5px;
            font-size: 16px;
            color: #333;
            border: 1px solid #CCC;
            -webkit-border-radius : 4px;
            -moz-border-radius : 4px;
            border-radius : 4px;
            margin: 5px;
        }
        input, select,.select, textarea {
            font-family: inherit;
            font-size: 16px;
            font-weight: normal;
            line-height: normal;
            display: inline-block;
        }
        label {
         font-family: inherit;
         font-size: 0.8em;
         color: #444;
         font-weight: normal;
         width: auto;
         display: inline-block;
         padding: 2px 0;
     }

     input[type="checkbox"], input[type="radio"] {
        width: 14px;
        height: 14px;
        margin: 5px;
        cursor: pointer;
        font-size: 16px;
        position: relative;
        display: inline-block;
        background-color: white;
        border: 1px solid #CCC;
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .input-mini {
        width: 60px;
    }
    .input-pequenno {
        width: 90px;
    }
    .input-medio {
        width: 150px;
    }
    .input-grande {
        width: 210px;
    }
    .input-supergrande {
        width: 270px;
    }
    .input-extragrande {
        width: 530px;
    }


    /* Validators */
    input[type='text'].valid:focus{ background-color: #BBFFBB; }
    input[type='text'].invalid{ background-color: #FFBBBB; }


    /* __________________/-----------\_________________ */
    /* __________________ON/OFF SWITCH_________________ */
    /* _________________/-------------\_________________ */
    input[type='checkbox']{
      width:16px;
      height:16px;
      border:1px solid #ccc;
      bacground:#fff;
      -webkit-box-sizing : border-box;
      -moz-box-sizing : border-box;
      box-sizing : border-box;
      color:#3276B1;
      -webkit-appearance : none; /* Safari and Chrome */
      /*   -moz-appearance : none;  Firefox not avalible*/
      appearance :none;
      position:relative;
      -moz-transition : all 0.3s ease-in 0s;
      -webkit-transition : all 0.3s ease-in 0s;
      -o-transition : all 0.3s ease-in 0s;
      transition : all 0.3s ease-in 0s;
  }
  input[type='checkbox']:after{
      width:20px;
      height:20px;
      content:'\2713';
      font-size:24px;
      text-align:center;
      vertical-align:middle;
      position:absolute;
      left:100%;
      top:-12px;

  }

  input[type='checkbox']:not(:checked){
      overflow:hidden;
  }
  input[type='checkbox']:checked:after{
      left:0;
      z-index: 2;
  }

  .onoffswitch {
    position: relative ;
    max-width: 84px ;
    min-width: 50px;
    -webkit-user-select:none !important; 
    -moz-user-select:none !important;
    -ms-user-select: none !important;
    vertical-align: middle;
    display: inline-block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; 
}
.onoffswitch-checkbox {
    display: none !important;
}
.onoffswitch-label {
    display: block !important; 
    overflow: hidden !important;
    cursor: pointer !important;
    border-radius: 50px !important;
    float: none; 
    width: auto;
    margin-top: 0; 
    padding: 0;
    -webkit-box-shadow : 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow : 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow : 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    transition: all 0.3s ease-in 0s;
    border-style: solid;
    border-width: 1px;
}
.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 21px;
    padding: 0;
    line-height: 21px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}
.onoffswitch-inner:before {
    content: "ON" !important;
    padding-left: 11px !important;
    color: #FFFFFF ;
}
.onoffswitch-inner:after {
    content: "OFF" !important;
    padding-right: 11px !important;
    background: #F0F0F0;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    color: #777;
    text-align: right !important;
    text-shadow: none;
}
.onoffswitch-switch {
    width: 13px !important;
    margin: 4px !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #FFF;
    background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ECECEC), color-stop(100%, #FFF));
    background: -webkit-linear-gradient(top, #ECECEC 0%, #FFF 100%);
    background: -o-linear-gradient(top, #ececec 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ececec 0%, #ffffff 100%);
    background: linear-gradient(top, #ececec 0%, #ffffff 100%);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
    border-radius: 50px;
    position: absolute !important;
    top: 0 !important; 
    bottom: 0 !important; 
    left: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;

}
.onoffswitch-checkbox:not(:checked) + .onoffswitch-label {
    background-color: #F0F0F0;
    border-color: #bbb !important;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner:before {
} 
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0 !important;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    left: 100% !important; 
    margin-left: -19px !important;
}


/* ___________________/---------\_________________ */
/* ___________________  doc_box   _________________ */
/* ___________________/---------\_________________ */

.doc_box{
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 25px 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.doc_box>.doc_box_line{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    display: block;
    position: relative;
}
.doc_box>.doc_box_line>.doc_box_tag{
    position: absolute;
    margin: 0;
    padding: 4px;
    -webkit-border-radius : 4px;
    -moz-border-radius : 4px;
    border-radius : 4px;
    -webkit-box-shadow : inset 0 0 3px #fff,0 1px 0 0 #FFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow : inset 0 0 3px #fff,0 1px 0 0 #FFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow : inset 0 0 3px #fff,0 1px 0 0 #FFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    border: 1px solid #D5D5D5;
    background-color: #F6F6F6;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));
    background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    font-size: 13px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    text-decoration: none;
}
.doc_box>.doc_box_line:first-child>.doc_box_tag{
    top: -1px;
    left: -1px;
    -webkit-border-radius: 5px 0px 5px 0px;
    border-radius: 5px 0px 5px 0px;
}
.doc_box>.doc_box_line>.doc_box_tag{
    top: -2px;
    left: -1px;
    -webkit-border-radius: 0px 0px 5px 0px;
    border-radius: 0px 0px 5px 0px;
}
.doc_box>.doc_box_line.code{
    padding: 0;
    padding-top: 30px;
}
.doc_box>.doc_box_line.example{
    padding: 30px 10px 10px 10px;
}

.doc_box>.doc_box_line:first-child{
    border-top: none;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.doc_box>.doc_box_line:last-child{
    border-bottom: none;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
table.table.options{
    background-color: #fff;
}


/* ___________________/---------\_________________ */
/* ___________________  Panel   _________________ */
/* ___________________/---------\_________________ */
.panel {
    margin-bottom: 22px;
    position: relative;
    margin-bottom: 18px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    border: 1px solid #e4e4e4;
}
.panel-header{
    background: #fafafa;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
    padding: 10px 15px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.panel-title {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
.panel-body{
    background: #fff;
    margin: 0;
    padding: 20px;
}
.panel-footer{
    background: #fff;
    padding: 10px 15px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #e4e4e4;
}



/*------------------------------------*\
    $LOADER
    \*------------------------------------*/

    .eloader {
        overflow: hidden;
        text-align: center;
    }
    .eloader > .state {
        display: inline-block;
        margin: 6px auto;
    }


    /* BAR DETERMINATED */
    .eloader > .bar {
        width: 80%;
        height: 16px;
        padding: 2px;
        margin: 6px auto;
        border-radius: 20px;
        border: 2px solid #bbb;
        -webkit-box-sizing: padding-box;
        -moz-box-sizing: padding-box;
        box-sizing: padding-box;
    }
    .eloader > .bar > .progress {
        width: 0;
        height: 100%;
        border-radius: 20px;
        background-color: #47C7C2;
        line-height: 12px;
        text-align: right;
        font-size: 10px;
        color: white;
        padding: 0 3px;
        -webkit-box-sizing: padding-box;
        -moz-box-sizing: padding-box;
        box-sizing: padding-box;
    }


    /* BAR UNDETERMINATED */
    .eloader > .bar.undeterminate {
        position: relative;
    }
    .eloader .bar-ball {
        position: absolute;
        left: 0;
        width: 13px;
        height: 12px;
        margin-left: -17px;
        border-radius: 50%;
        background-color: #47C7C2;
    }
    .eloader .bar-ball1 {
        -webkit-animation: 1.5s ease-out 0s infinite eloader-bar-ball1;
        -moz-animation: 1.5s ease-out 0s infinite eloader-bar-ball1;
        animation: 1.5s ease-out 0s infinite eloader-bar-ball1;
    }
    .eloader .bar-ball2 {
        -webkit-animation: 1.5s ease-out 0.2s infinite eloader-bar-ball2;
        -moz-animation: 1.5s ease-out 0.2s infinite eloader-bar-ball2;
        animation: 1.5s ease-out 0.2s infinite eloader-bar-ball2;
    }
    .eloader .bar-ball3 {
        -webkit-animation: 1.5s ease-out 0.4s infinite eloader-bar-ball3;
        -moz-animation: 1.5s ease-out 0.4s infinite eloader-bar-ball3;
        animation: 1.5s ease-out 0.4s infinite eloader-bar-ball3;
    }
    .eloader .bar-ball4 {
        -webkit-animation: 1.5s ease-out 0.6s infinite eloader-bar-ball4;
        -moz-animation: 1.5s ease-out 0.6s infinite eloader-bar-ball4;
        animation: 1.5s ease-out 0.6s infinite eloader-bar-ball4;
    }
    @-webkit-keyframes eloader-bar-ball1 {
        0% {left: 0;}
        100% {left: 100%;}
    }
    @-moz-keyframes eloader-bar-ball1 {
        0% {left: 0;}
        100% {left: 100%;}
    }
    @keyframes eloader-bar-ball1 {
        0% {left: 0;}
        100% {left: 100%;}
    }
    @-webkit-keyframes eloader-bar-ball2 {
        0% {left: 13px;}
        100% {left: 100%; margin-left: -13px;}
    }
    @-moz-keyframes eloader-bar-ball2 {
        0% {left: 13px;}
        100% {left: 100%; margin-left: -13px;}
    }
    @keyframes eloader-bar-ball2 {
        0% {left: 13px;}
        100% {left: 100%; margin-left: -13px;}
    }
    @-webkit-keyframes eloader-bar-ball3 {
        0% {left: 26px;}
        100% {left: 100%; margin-left: -16px;}
    }
    @-moz-keyframes eloader-bar-ball3 {
        0% {left: 26px;}
        100% {left: 100%; margin-left: -16px;}
    }
    @keyframes eloader-bar-ball3 {
        0% {left: 26px;}
        100% {left: 100%; margin-left: -16px;}
    }
    @-webkit-keyframes eloader-bar-ball4 {
        0% {left: 39px;}
        100% {left: 100%;}
    }
    @-moz-keyframes eloader-bar-ball4 {
        0% {left: 39px;}
        100% {left: 100%;}
    }
    @keyframes eloader-bar-ball4 {
        0% {left: 39px;}
        100% {left: 100%;}
    }


    /* SPIN DETERMINATED */
    .eloader .spin {
        position: relative;
        width: 60px;
        height: 60px;
        margin: 6px auto;
    }
    .eloader .spin svg circle {
        fill: #fff;
        stroke: #ddd;
        stroke-width: 1px;
    }
    .eloader .spin svg .progress {
        fill: transparent;
        stroke-width: 10px;
        stroke: #47C7C2;
        stroke-dasharray: 157;
        stroke-dashoffset: 157;
    }
    .eloader .spin .progress-count {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -9px;
        font-size: 14px;
        color: #666;
    }



    /* SPIN UNDETERMINATED */
    .eloader .spin.undeterminate {}

    .eloader .spin.undeterminate .spin-ball1,
    .eloader .spin.undeterminate .spin-ball2 {
        margin: 0 auto;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -webkit-box-sizing: initial;
        -moz-box-sizing: initial;
        box-sizing: initial;
    }
    .eloader .spin.undeterminate .spin-ball1 {
        width: 50px;
        height: 50px;
        border: 5px solid #33bdc0;
        border-top: 5px solid rgba(51, 189, 192, 0.31);
        border-left: 5px solid rgba(51, 189, 192, 0.31);
        -webkit-animation: eloader-spin 1s infinite linear;
        -moz-animation: eloader-spin 1s infinite linear;
        animation: eloader-spin 1s infinite linear;
    }
    .eloader .spin.undeterminate .spin-ball2 {
        position: relative;
        top: -48px;
        width: 26px;
        height: 26px;
        border: 5px solid #9fcc3e;
        border-top: 5px solid rgba(159, 204, 62, 0.31);
        border-left: 5px solid rgba(159, 204, 62, 0.31);
        -webkit-animation: eloader-spinoff 1s infinite linear;
        -moz-animation: eloader-spinoff 1s infinite linear;
        animation: eloader-spinoff 1s infinite linear;
    }

    /* -- Loader Inverse -- */
    .eloader .spin.undeterminate.inverse .spin-ball1 {
        -webkit-animation: eloader-spinoff 1s infinite linear;
        -moz-animation: eloader-spinoff 1s infinite linear;
        animation: eloader-spinoff 1s infinite linear;
    }
    .eloader .spin.undeterminate.inverse .spin-ball2 {
        -webkit-animation: eloader-spin 1s infinite linear;
        -moz-animation: eloader-spin 1s infinite linear;
        animation: eloader-spin 1s infinite linear;
    }

    /* -- Loader Mini -- */
    .eloader .spin.spin-mini {
        padding: 5px;
        height: 52px;
    }
    .eloader .spin.spin-mini .spin-ball1 {
        width: 32px;
        height: 32px;
        border-width: 4px;
    }
    .eloader .spin.spin-mini .spin-ball2 {
        width: 14px;
        height: 14px;
        top: -31px;
        border-width: 4px;
    }

    /* -- Loader Spin -- */
    @-webkit-keyframes eloader-spin {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-moz-keyframes eloader-spin {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes eloader-spin {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    /* -- Loader SpinOff -- */
    @-webkit-keyframes eloader-spinoff {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
    @-moz-keyframes eloader-spinoff {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
    @keyframes eloader-spinoff {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }


/*------------------------------------*\
    $EMODAL
\*------------------------------------*/

.emodal_hold{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.75);
}
.emodal{
    width: 500px;
    position: fixed;
    top: 0%;;
    left: 50%;
    margin-left: -250px;
    background-color: #FFF;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    border: 1px solid #acacac;
    background-clip: padding-box;
}
.emodal_header {
    padding: 20px 20px 10px;
    border-radius: 2px 2px 0 0;
}
.emodal_header h3 {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
}
.emodal_close {
    float: right;
    font-size: 22px;
    font-weight: bolder;
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    background: none;
    margin: 0;
    padding: 0 7px 0 7px;
    margin-right: -5px;
    border: none;
}
.emodal_close:hover {
    color:#C0392B;
}
.emodal_close:active {
    border: 1px solid transparent;
    box-shadow: inset 0 0px 12px  0px #FFB3B3,0 0 0 1px #FFB3B3;
}
.emodal_content {
    position: relative;
    max-height: 400px;
    min-height: 100px;
    padding: 0 20px;
    overflow-y:auto;
}
.emodal_content_url{
    width: 100%;
    padding: 0;
    border: 0;
}
.emodal_footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
}


/*------------------------------------*\
    $HOPE
    \*------------------------------------*/

    .ehope-hold {
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }
    .ehope {
        position: fixed;
        overflow: hidden;
        width: 300px;
        top: 0;
        left: 50%;
        padding: 16px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        outline: none;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3),inset 0 0 17px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3),inset 0 0 17px rgba(255, 255, 255, 1);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.56),inset 0 0 17px rgba(255, 255, 255, 1);
        background-color: #f5f5f5;
        text-align: center;
    }



/*------------------------------------*\
    $ALERT
    \*------------------------------------*/

    .ealert-holder {
        position: fixed;
        z-index: 4000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: rgba(0,0,0,0.3);
    }
    .ealert {
        padding:  10px 10px 5px;
        position: fixed;
        width: 430px;
        min-height:160px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        outline: none;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
    }
    .ealert-title {
        padding:10px 10px 10px 15px;
        margin: -10px -10px 0;
        font-size:14pt;
        border-bottom: 1px solid #ddd;
        background-color: #F5F5F5;
        -webkit-border-radius:  4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: inset 0 -1px 0 #FFF;
        -moz-box-shadow: inset 0 -1px 0 #ffffff;
        box-shadow: inset 0 -1px 0 #FFF;
    }
    .ealert-image {
        margin:20px 5px 0 5px;
        display:table-cell;
        height:80px;
        width:80px;
        vertical-align: middle;
        background-size: cover;
    }
    .ealert.ealert-alert .ealert-image {background-image: url('../img/alert/alert.png');}
    .ealert.ealert-info .ealert-image {background-image: url('../img/alert/info.png');}
    .ealert.ealert-error .ealert-image {background-image: url('../img/alert/error.png');}
    .ealert.ealert-confirm .ealert-image {background-image: url('../img/alert/confirm.png');}
    .ealert-content {
        margin:0;
        padding: 15px 10px;
        display:table-cell;
        min-height:58px;
        width:319px;
        vertical-align: middle;
    }
    .ealert-content p {
        padding:0;
        margin:0;
        display: table;
        height: 100%;
        width: 100%;
    }

    .ealert-content span {
        display: table-cell;
        vertical-align: middle;
    }
    .ealert-content span:first-letter {
        text-transform: capitalize;
    }

    .ealert-buttons {
        margin: 0 -10px -5px;
        padding: 5px 10px;
        background-color: #F5F5F5;
        border-top: 1px solid #DDD;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: inset 0 1px 0 #FFF;
        -moz-box-shadow: inset 0 1px 0 #ffffff;
        box-shadow: inset 0 1px 0 #FFF;
        overflow: hidden;
    }
    .ealert-buttons input[type='button'] {
        cursor:pointer;
        margin:2px;
        height:35px;
        width:90px;
        border:1px solid #AFAFAF;
        background-color:#004076;
        color:#FFFFFF;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    .ealert-buttons button {
        display: inline-block;
        float: right;
        margin-left: 10px;
    }
    .ealert-buttons input[type='button']:hover {
        background-color:#00549c;
        color:White;
    }
    .ealert-buttons input[type='button']:active {
        background-color:#AAAAAA;
        color:White;
    }



/*------------------------------------*\
    $TIP
    \*------------------------------------*/

    #tiptip_holder {
        position: absolute;
        z-index: 3000;
        display: none;
        top: 0;
        left: 0;
    }

    #tiptip_holder.tip_top {
        padding-bottom: 5px;
    }

    #tiptip_holder.tip_bottom {
        padding-top: 5px;
    }

    #tiptip_holder.tip_right {
        padding-left: 5px;
    }

    #tiptip_holder.tip_left {
        padding-right: 5px;
    }

    #tiptip_content {
        font-size: 0.8em;
        line-height: 1.25em;
        padding: 4px 8px;
        color: #666;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background-color: #FFF;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }

    #tiptip_arrow, #tiptip_arrow_inner {
        position: absolute;
        border-color: transparent;
        border-style: solid;
        border-width: 6px;
        height: 0;
        width: 0;
    }

    #tiptip_holder.tip_top #tiptip_arrow {
        border-top-color: rgba(0, 0, 0, 0.6);
        border-bottom: none;
    }

    #tiptip_holder.tip_bottom #tiptip_arrow {
        border-bottom-color: rgba(0, 0, 0, 0.6);
        border-top: none;
    }

    #tiptip_holder.tip_right #tiptip_arrow {
        border-right-color: rgba(0, 0, 0, 0.6);
        border-left: none;
    }

    #tiptip_holder.tip_left #tiptip_arrow {
        border-left-color: rgba(0, 0, 0, 0.6);
        border-right: none;
    }

    #tiptip_holder.tip_top #tiptip_arrow_inner {
        margin-top: -7px;
        margin-left: -6px;
        border-top-color: #FFF;
        border-bottom: none;
    }

    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        margin-top: 1px;
        margin-left: -6px;
        border-bottom-color: #FFF;
        border-top: none;
    }

    #tiptip_holder.tip_right #tiptip_arrow_inner {
        margin-top: -6px;
        margin-left: 1px;
        border-right-color: #FFF;
        border-left: none;
    }

    #tiptip_holder.tip_left #tiptip_arrow_inner {
        margin-top: -6px;
        margin-left: -7px;
        border-left-color: #FFF;
        border-right: none;
    }



/*------------------------------------*\
    $META-STYLES
    \*------------------------------------*/

    .block {
        display: block;
        width: 100%;
        overflow: auto;
    }
    .part {
        display: inline-block;
        overflow: auto;
    }
    .align-left {
        text-align: left;
    }
    .align-center {
        text-align: center;
    }
    .align-right {
        text-align: right;
    }
    .put-left {
        float: left;
    }
    .put-right {
        float: right;
    }
    .hidden {
        display: none;
    }
    .invisible {
        visibility: hidden;
    }

