/* Registra "Manrope Variable". */
@import "@fontsource-variable/manrope/index.css";

@font-face {
  font-family: "Manrope Variable Fallback";
  src: local("Segoe UI"), local("SegoeUI");
  font-weight: 100 549;
  size-adjust: 103.75%;
  ascent-override: 102.74%;
  descent-override: 28.91%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "Manrope Variable Fallback";
  src: local("Segoe UI Semibold"), local("SegoeUI-Semibold");
  font-weight: 550 1000;
  size-adjust: 104.26%;
  ascent-override: 102.25%;
  descent-override: 28.77%;
  line-gap-override: 0%;
}
