name: package-test

on:
  push:
    branches:
      - master

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com
          scope: "@calumet"
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm --filter "@calumet/elise-*" build

      - run: pnpm -r --filter "@calumet/elise-*" publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
